.col-md-10 span{
    float:left;
    height:34px;
    line-height: 34px;
}
.col-md-10 span:before,
.col-md-10 span:after {
    content: "\00a0\00a0";
}
.col-md-1 input[type='checkbox']{
    float:left;
    margin:10px 0px;
}
label{
    width: 100%;
    margin:0px !important;
    display: block !important;
}
.list-group, label{
    cursor: pointer;
}
.list-group > li:hover{
    background-color:#f7f7f9;
}
.show{
    display: block;
}
.col-md-1 button{
    display: none;
}
.done{
    text-decoration: line-through;
    color:green;
}